.k-theme-test-class,
.ktb-theme-id-material {
  opacity: 0;
}
.ktb-var-accent {
  color: #00b050;
}
.ktb-var-base {
  color: #ffffff;
}
.ktb-var-background {
  color: #ffffff;
}
.ktb-var-border-radius {
  border-radius: 2px;
}
.ktb-var-normal-background {
  color: #ffffff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #444444;
}
.ktb-var-hover-background {
  color: #ebebeb;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #444444;
}
.ktb-var-selected-background {
  color: #00b0ff;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #3f51b5;
}
.ktb-var-error {
  color: #ffcdd2;
}
.ktb-var-warning {
  color: #fdefba;
}
.ktb-var-success {
  color: #c8e6c9;
}
.ktb-var-info {
  color: #bbdefb;
}
.ktb-var-series-a {
  color: #3f51b5;
}
.ktb-var-series-b {
  color: #03a9f4;
}
.ktb-var-series-c {
  color: #4caf50;
}
.ktb-var-series-d {
  color: #f9ce1d;
}
.ktb-var-series-e {
  color: #ff9800;
}
.ktb-var-series-f {
  color: #ff5722;
}
.k-grid-norecords-template {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.k-button {
  border-radius: 2px;
  border-color: #f5f5f5;
  color: #444444;
  background-color: #f5f5f5;
  background-position: 50% 50%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-button.k-state-default {
  border-color: #f5f5f5;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-button:active,
.k-button.k-state-active {
  color: #000000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #05d363;
  background-color: #05d363;
}
.k-button:focus:active {
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #444444;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #ffffff;
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-primary.k-state-default {
  border-color: #00b050;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #05d363;
  background-color: #05d363;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #007837;
  background-color: #007837;
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.3);
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #007837;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #ffffff;
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: none;
}
.k-button-group {
  border-radius: 2px;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 2px;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 2px;
}
.k-split-button {
  border-radius: 2px;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #cccccc;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #cccccc;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #444444;
  background-color: #ebebeb;
  border-color: #cccccc;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #999999;
  background: #fafafa;
  background-image: none;
}
.k-edit-buttons {
  border-color: #e6e6e6;
  background: #00b050;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #00b050;
}
undefined undefined undefined undefined undefined undefined undefined undefined undefined .k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
.k-header .k-window-actions .k-link {
  color: inherit;
}
a.k-icon {
  color: #444444;
}
a.k-icon:hover {
  color: #444444;
}
.k-button-icon .k-icon {
  opacity: 0.8;
}
.k-button-icon:hover .k-icon {
  opacity: 1;
}
.k-state-disabled .k-button-icon .k-icon,
.k-state-disabled.k-button-icon .k-icon {
  opacity: 0.8;
}
.k-splitbar .k-resize-handle {
  background-color: #444444;
}
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child {
  border-color: #e6e6e6;
}
.k-group,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #00b050;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #00b050;
}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f2f2f2;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #dedede;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #e6e6e6;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #ffffff;
  color: #444444;
}
.k-input[readonly] {
  background-color: #ffffff;
  color: #444444;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #444444;
}
.k-inverse {
  color: #ffffff;
}
.k-block {
  color: #ffffff;
}
.k-link,
.k-nav-current.k-state-hover .k-link {
  color: #428bca;
}
.k-tabstrip-items .k-link {
  color: #444444;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #ffffff;
}
.k-header,
.k-grid-header,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-position: 50% 50%;
  background-color: #00b050;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile {
  background-color: #00b050;
}
.k-hr {
  border-color: #e6e6e6;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.7;
}
.k-i-loading {
  background-image: url('https://kendo.cdn.telerik.com/2019.2.619/styles/Material/loading.gif');
}
.k-loading-image {
  background-image: url('https://kendo.cdn.telerik.com/2019.2.619/styles/Material/loading-image.gif');
}
.k-loading-color {
  background-color: #ebebeb;
}
.k-draghandle {
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: 0 0 0 8px rgba(63, 81, 181, 0.3);
}
.k-badge {
  background-color: #00b050;
  color: #ffffff;
  border-radius: 1px;
}
.k-scheduler {
  color: #ffffff;
  background-color: #ffffff;
}
.k-scheduler-layout {
  color: #444444;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #ffffff;
  color: #444444;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #e6e6e6;
}
.k-scheduler-table .k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #fafafa;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #f5f5f5;
}
.k-scheduler-header .k-today {
  background: transparent;
}
table:not(.k-scheduler-dayview) .k-scheduler-header-wrap .k-today {
  color: #3f51b5;
}
.k-scheduler-now-arrow {
  border-left-color: #eed3d7;
}
.k-scheduler-now-line {
  background-color: #eed3d7;
}
.k-event,
.k-task-complete {
  border-color: #00e367;
  background: #00e367 0 -257px none repeat-x;
  color: #ffffff;
}
.k-event-inverse {
  color: #444444;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #444444;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #ffffff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #ffffff;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #ffffff;
  color: #444444;
  border-color: #e6e6e6;
}
.k-panelbar > .k-item > .k-link {
  color: #444444;
}
.k-panelbar > .k-item > .k-link {
  border-color: #e6e6e6;
}
.k-panel > li.k-item {
  background-color: #ffffff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #444444;
}
.k-fieldselector .k-list-container {
  background-color: #ffffff;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #ffffff;
  color: #444444;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #67afe9;
}
.k-button.k-bare {
  position: relative;
}
.k-button.k-bare:before {
  content: "";
  background-color: currentcolor;
  opacity: 0.12;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
}
.k-button.k-bare.k-state-focused:before,
.k-button.k-bare:focus:before {
  display: block;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #00b050;
}
.k-mediaplayer-toolbar .k-button.k-bare:active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-quality-list {
  margin-left: -25px !important;
}
.k-window-titlebar .k-link {
  border-radius: 2px;
}
.k-calendar-container.k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color,
.k-drag-clue.k-state-selected {
  color: #3f51b5;
  background-color: #ffffff;
  border-color: #ffffff;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #ebebeb;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #ebebeb;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #ebebeb;
  color: #3f51b5;
}
.k-popup .k-list .k-item > .k-group {
  background: #ebebeb;
  color: #3f51b5;
  border-bottom-left-radius: 1px;
}
.k-marquee-text {
  color: #3f51b5;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-menu .k-item.k-state-default.k-state-focused {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > .k-item > .k-state-selected,
.k-panelbar .k-group .k-item > .k-state-selected {
  color: #3f51b5;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #ebebeb;
}
.k-textbox:hover,
.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-image: none;
}
.k-pager-wrap {
  background-color: #00b050;
  color: #ffffff;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers,
.k-pager-wrap.k-pager-md .k-pager-numbers,
.k-pager-wrap.k-pager-sm .k-pager-numbers {
  border: 0;
  background-color: #f5f5f5;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers:hover,
.k-pager-wrap.k-pager-md .k-pager-numbers:hover,
.k-pager-wrap.k-pager-sm .k-pager-numbers:hover,
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded {
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #444444;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #ebebeb;
}
.k-dropdown .k-state-focused .k-input {
  color: #444444;
}
.k-dropdown .k-state-hover .k-input {
  color: #444444;
}
.k-state-error {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}
.k-state-disabled {
  opacity: 0.6;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #999999;
}
.k-file .k-upload-status {
  color: #444444;
}
.k-progressbar-indeterminate {
  background: url('https://kendo.cdn.telerik.com/2019.2.619/styles/Material/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-slider-track {
  background-color: #e6e6e6;
}
.k-slider-selection {
  background-color: #ffffff;
}
.k-slider-horizontal .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2019.2.619/styles/Material/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2019.2.619/styles/Material/slider-v.gif');
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: rgba(100, 100, 100, 0.9);
  background-color: rgba(100, 100, 100, 0.9);
  color: #ffffff;
}
.k-widget.k-tooltip-validation {
  border-color: #fdefba;
  background-color: #fdefba;
  color: #816704;
}
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: rgba(100, 100, 100, 0.9);
}
.k-callout-w {
  border-right-color: rgba(100, 100, 100, 0.9);
}
.k-callout-s {
  border-top-color: rgba(100, 100, 100, 0.9);
}
.k-callout-e {
  border-left-color: rgba(100, 100, 100, 0.9);
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #fdefba;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #fdefba;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #fdefba;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #fdefba;
}
.k-splitbar {
  background-color: #fafafa;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #b94a48;
}
.k-file {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
.k-file-progress {
  color: #2b98f3;
}
.k-file-progress .k-progress {
  background-color: #bbdefb;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #5fb662;
}
.k-file-success .k-progress {
  background-color: #c8e6c9;
}
.k-file-error {
  color: #ff3448;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #ff3448;
  border-color: #ff3448;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #ff3448 #ff3448;
}
.k-file-error .k-progress {
  background-color: #ffcdd2;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #999999;
  border-color: #999999;
}
.k-file-invalid .k-file-name-invalid {
  color: #ff3448;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #ff3448;
  border-color: #ff3448;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #999999 #999999;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #ff3448 #ff3448;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #999999;
  border-left-color: #999999;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #ff3448;
  border-left-color: #ff3448;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #999999;
}
.k-upload .k-upload-selected {
  color: #3f51b5;
  border-color: #e6e6e6;
}
.k-upload .k-upload-selected:hover {
  color: #ffffff;
  background-color: #3f51b5;
}
.k-tile {
  border-color: #ffffff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #ebebeb;
}
.k-tiles li.k-state-selected {
  border-color: #ffffff;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-slider,
.k-treeview,
.k-upload {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-state-selected {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.k-state-active {
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #ffffff;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-calendar-container.k-popup {
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #e6e6e6;
}
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.k-editor-inline ::selection {
  background-color: #00b050;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #00b050;
  text-shadow: none;
  color: #fff;
}
.k-notification {
  border-radius: 2px;
}
.k-notification-info {
  background-color: #bbdefb;
  color: #2b98f3;
  border-color: #bbdefb;
}
.k-notification-success {
  background-color: #c8e6c9;
  color: #5fb662;
  border-color: #c8e6c9;
}
.k-notification-warning {
  background-color: #fdefba;
  color: #f8c70d;
  border-color: #fdefba;
}
.k-notification-error {
  background-color: #ffcdd2;
  color: #ff3448;
  border-color: #ffcdd2;
}
.k-gantt .k-treelist {
  background: #f2f2f2;
}
.k-gantt .k-treelist .k-alt {
  background-color: #d9d9d9;
}
.k-gantt .k-treelist tr:hover {
  background-color: #ebebeb;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #ffffff;
}
.k-gantt .k-treelist .k-alt.k-state-selected:hover,
.k-gantt .k-treelist .k-alt.k-state-selected:hover td {
  background-color: #00a2eb;
}
.k-task-dot:after {
  background-color: #444444;
  border-color: #444444;
}
.k-task-dot:hover:after {
  background-color: #ffffff;
}
.k-task-summary {
  border-color: #31ff8e;
  background: #31ff8e;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #444444;
  background: #444444;
}
.k-state-selected.k-task-summary {
  border-color: #31ff8e;
  background: #31ff8e;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #ffffff;
  background: #ffffff;
}
.k-task-single {
  background-color: #08ff78;
  border-color: #00e367;
  color: #ffffff;
}
.k-state-selected.k-task-single {
  border-color: #ffffff;
}
.k-line {
  background-color: #444444;
  color: #444444;
}
.k-state-selected.k-line {
  background-color: #ffffff;
  color: #ffffff;
}
.k-resource {
  background-color: #ffffff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 2px;
}
.k-toolbar .k-split-button .k-button {
  border-radius: 2px 0 0 2px;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 2px 2px 0;
}
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 2px 2px 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 2px 0 0 2px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 2px 2px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 2px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 2px 2px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 2px 2px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 2px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 2px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 2px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 2px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 1px 0 0 1px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 1px 1px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 1px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 1px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 1px 0 0 1px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 1px 1px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 2px 2px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 2px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #ebebeb;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 1px 1px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 2px 2px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 2px 0 0 2px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 2px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 1px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 1px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 13px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 2px 0 0 2px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 2px 2px 0;
}
.k-edit-field > .k-scheduler-navigation {
  border-radius: 2px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 2px 0 0 2px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 2px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 1px;
}
.k-scheduler-mobile .k-event {
  border-radius: 0px;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-position: 50% 50%;
  color: #444444;
  background-color: #fafafa;
  border-color: #f0f0f0;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
}
.k-multiselect-wrap {
  border-color: #f0f0f0;
}
.k-multiselect-wrap.k-state-hover,
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #f5f5f5;
  background-color: #ffffff;
  color: #444444;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-list-container {
  color: #444444;
}
.k-nodata {
  color: #999999;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #444444;
}
.k-state-default > .k-select {
  border-color: #f0f0f0;
}
.k-state-focused > .k-select {
  border-color: #f5f5f5;
}
.k-state-hover > .k-select {
  border-color: #f5f5f5;
}
.k-tabstrip:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-tabstrip-items .k-item .k-link {
  color: #ffffff;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar .k-group > li > .k-link.k-state-hover {
  color: #444444;
}
.k-panelbar > li > .k-state-focused.k-state-hover {
  background: #ebebeb;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default,
.k-panelbar .k-tabstrip-items .k-state-default {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #ebebeb;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #444444;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #e6e6e6;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #e6e6e6;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-column-menu .k-separator {
  border-color: #e6e6e6;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-grid-filter.k-state-active {
  background-color: #ffffff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #ffffff;
  border-color: #e6e6e6;
  font-weight: bold;
}
.k-grouping-header {
  color: #ffffff;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #e6e6e6;
}
.k-button-group {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.k-button-group.k-state-disabled {
  box-shadow: none;
}
.k-button-group .k-button {
  box-shadow: none;
}
.k-button-group .k-button.k-state-active {
  color: #000000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.k-button-group .k-button:focus,
.k-button-group .k-button.k-state-focused {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
  box-shadow: none;
}
.k-button-group .k-button.k-state-disabled:focus,
.k-state-disabled.k-button-group .k-button:focus,
.k-button-group .k-button.k-state-disabled.k-state-focused,
.k-state-disabled.k-button-group .k-button.k-state-focused {
  color: #999999;
  border-color: #ebebeb;
  background-color: #ebebeb;
  box-shadow: none;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 2px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-checkbox-label:before {
  border-color: #7f7f7f;
  background: #ffffff;
  border-radius: 1px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #7f7f7f;
  box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #00b050;
  border-color: #00b050;
  color: #ffffff;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  box-shadow: none;
  border-color: #26ff89;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: none;
  border-color: #26ff89;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #999999;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #999999;
  background: #f5f5f5;
  border-color: #bfbfbf;
  border-radius: 1px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #26ff89;
  box-shadow: none;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #00b050;
  background-image: none;
  border-color: #00b050;
  border-radius: 0px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #00b050;
  background-color: #00b050;
}
.k-checkbox-label:before {
  background: transparent;
}
.k-checkbox + .k-checkbox-label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 0px transparent;
  transition: box-shadow 0.3s;
}
.k-checkbox:focus + .k-checkbox-label:before {
  border-color: #7f7f7f;
}
.k-checkbox:checked + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #00b050;
}
.k-checkbox:focus + .k-checkbox-label:after {
  box-shadow: 0 0 0 12px rgba(127, 127, 127, 0.2);
  background: rgba(127, 127, 127, 0.2);
}
.k-checkbox:active + .k-checkbox-label:after,
.k-checkbox + .k-checkbox-label:active:after {
  box-shadow: 0 0 0 12px rgba(38, 255, 137, 0.4);
  background: rgba(38, 255, 137, 0.4);
}
.k-checkbox:checked:focus + .k-checkbox-label:after,
.k-checkbox:checked + .k-checkbox-label:focus:after,
.k-checkbox:checked:active + .k-checkbox-label:after,
.k-checkbox:checked + .k-checkbox-label:active:after {
  box-shadow: 0 0 0 12px rgba(38, 255, 137, 0.4);
  background: rgba(38, 255, 137, 0.4);
}
.k-checkbox:disabled + .k-checkbox-label:active:after {
  box-shadow: none;
}
.k-checkbox:indeterminate + .k-checkbox-label:before {
  border-color: #00b050;
}
.k-radio-label:before {
  border-color: #7f7f7f;
  border-radius: 50%;
  background-color: #ffffff;
  border-width: 2px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #7f7f7f;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #00b050;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #00f26e;
  box-shadow: 0 0 2px 0 #00f26e;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 2px 0 #00f26e;
  border-color: #00f26e;
}
.k-radio:disabled + .k-radio-label {
  color: #bfbfbf;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #ffffff;
  border-color: #bfbfbf;
  box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #00b050;
  opacity: 0.5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #00f26e;
  box-shadow: 0 0 2px 0 #00f26e;
}
.k-radio:checked + .k-radio-label:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #00b050;
}
.k-radio + .k-radio-label:active:before {
  border-color: #7f7f7f;
  box-shadow: 0 0 0 12px rgba(235, 235, 235, 0.3);
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 0 12px rgba(0, 176, 80, 0.3);
}
.k-radio:focus + .k-radio-label:before {
  border-color: #7f7f7f;
  box-shadow: 0 0 0 12px rgba(235, 235, 235, 0.3);
}
.k-radio:disabled:checked + .k-radio-label:before,
.k-radio:disabled:checked + .k-radio-label:hover:before {
  border-color: #bfbfbf;
}
.k-radio:disabled:checked + .k-radio-label:active:before {
  box-shadow: none;
}
.k-tool-icon:hover,
.k-state-hover .k-tool-icon,
.k-state-selected .k-tool-icon,
.k-state-focused .k-tool-icon,
.k-button:hover .k-tool-icon,
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grid-toolbar .k-i-file-pdf,
.k-grid-toolbar .k-button:hover > .k-i-file-pdf,
.k-grid-toolbar .k-i-file-excel,
.k-grid-toolbar .k-button:hover > .k-i-file-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-toolbar .k-icon,
.k-scheduler-footer .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon,
.k-pivot-configurator-settings .k-icon:hover,
.k-window-titlebar .k-icon {
  opacity: 1;
}
.k-splitbar .k-icon,
.k-pivot-configurator-settings .k-icon {
  opacity: 0.7;
}
.k-pager-wrap .k-link.k-state-disabled .k-icon {
  opacity: 0.25;
}
.k-button,
.k-header {
  font-weight: 500;
}
.k-dropdown .k-state-default {
  border-color: #f5f5f5;
  background-position: 50% 50%;
  background-color: #f5f5f5;
}
.k-dropdown,
span.k-colorpicker {
  background-color: #f5f5f5;
}
.k-textbox {
  background-color: #fafafa;
  border-color: #f0f0f0;
}
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-combobox .k-input,
.k-datepicker .k-input,
.k-timepicker .k-input,
.k-datetimepicker .k-input {
  background-color: #fafafa;
}
.k-picker-wrap.k-state-default > .k-select {
  border-color: #fafafa;
}
.k-autocomplete.k-state-active .k-input,
.k-picker-wrap.k-state-active .k-input,
.k-numeric-wrap.k-state-active .k-input {
  background-color: #ffffff;
}
.k-picker-wrap.k-state-hover > .k-select,
.k-picker-wrap.k-state-focused > .k-select {
  border-color: #ffffff;
}
.k-picker-wrap.k-state-hover .k-input,
.k-picker-wrap.k-state-focused .k-input {
  background-color: #ffffff;
}
.k-textbox:hover,
.k-overflow-anchor:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ffffff;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #f0f0f0;
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-numeric-wrap.k-state-focused > .k-select {
  background-color: #ebebeb;
}
.k-textbox:focus,
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-multiselect.k-header.k-state-active {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-autocomplete.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled .k-input,
.k-numeric-wrap.k-state-disabled .k-select,
.k-dropdown-wrap.k-state-disabled,
.k-multiselect.k-header.k-state-disabled {
  background-color: #fafafa;
}
.k-numeric-wrap.k-state-disabled .k-select {
  border-color: #fafafa;
}
.k-numerictextbox .k-select {
  background-color: #ffffff;
  border-color: #ffffff;
}
.k-list > .k-state-selected.k-state-focused {
  box-shadow: none;
  color: #3f51b5;
}
.k-list > .k-state-selected {
  box-shadow: none;
}
.k-list > .k-state-focused {
  border-color: transparent;
  box-shadow: none;
}
.k-list > .k-state-hover,
.k-list > .k-state-selected.k-state-hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-list-container {
  border-color: #ebebeb;
}
.k-grid td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 1px #808080;
}
.k-window-titlebar .k-link {
  box-shadow: none;
}
.k-window-titlebar .k-state-hover {
  background-color: #00c06c;
  border-color: #00c06c;
}
.k-tabstrip > .k-tabstrip-items > .k-item {
  border-radius: 0;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #00b050;
  background-image: none;
  border-bottom-color: #00b0ff;
}
.k-tabstrip .k-content.k-state-active {
  border-color: transparent;
}
.k-tabstrip-items .k-item.k-state-hover {
  background: #00c06c;
  border-color: #00c06c;
}
.k-tabstrip-items .k-state-hover .k-link {
  color: #ffffff;
}
.k-group,
.k-flatcolorpicker.k-group,
.k-menu,
.k-menu .k-group,
.k-popup.k-widget.k-context-menu {
  color: #444444;
  background-color: #ffffff;
}
.k-menu .k-group,
.k-popup.k-context-menu.k-group {
  border-color: #e6e6e6;
}
.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
  box-shadow: none;
}
.k-menu .k-state-active,
.k-popup.k-context-menu.k-group .k-state-hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-grid .k-header .k-button,
.k-scheduler .k-header .k-button,
.k-scheduler .k-header li,
.k-scheduler .k-header .k-link,
.k-gantt > .k-header li,
.k-gantt > .k-header .k-link,
.k-gantt-toolbar .k-button {
  color: #ffffff;
  background-color: #00b050;
  border-color: #00b050;
  box-shadow: none;
}
.k-grid .k-header .k-button:hover,
.k-scheduler .k-header .k-button:hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-button:hover {
  background-color: #00c06c;
  border-color: #00c06c;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-gantt-toolbar .k-button {
  background-color: #00b050;
  border-color: #00b050;
}
.k-gantt .k-gantt-toolbar .k-button:active {
  background: #ffffff;
  box-shadow: none;
}
.k-gantt-toolbar > .k-gantt-views > li.k-state-selected,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected {
  border-bottom-color: #00b0ff;
}
.k-scheduler-mark {
  border-radius: 50%;
}
.k-grid .k-alt {
  background-color: #ffffff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner,
.k-grid .k-state-selected:hover .k-group-cell {
  color: #444444;
  background-color: #f2f2f2;
}
.k-grouping-header .k-group-indicator,
.k-pivot-toolbar .k-button {
  color: #ffffff;
  background-color: #007d39;
  border-color: #007d39;
  box-shadow: none;
}
.k-grid-header,
.k-grid-header .k-header,
.k-pager-wrap,
.k-pager-numbers .k-state-selected,
.k-grid-footer,
.k-grid-footer td {
  color: #444444;
  background-color: #fafafa;
}
.k-header.k-scheduler-footer .k-header,
.k-header.k-scheduler-footer ul.k-header li .k-link {
  color: #00b0ff;
  background-color: #fafafa;
}
.k-header.k-scheduler-footer ul.k-header li {
  background-color: #fafafa;
  border-color: #fafafa;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-gantt-toolbar .k-state-default,
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  border-color: #e6e6e6;
}
.k-group-footer td,
.k-footer-template td,
.k-fieldselector .k-item.k-header {
  color: #444444;
  background-color: #f2f2f2;
}
.k-grid .k-grouping-header {
  color: rgba(255, 255, 255, 0.5);
}
.k-pager-wrap {
  color: #444444;
}
.k-grouping-header .k-link,
.k-grouping-header .k-link:link {
  color: #ffffff;
}
.k-scheduler-layout .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused,
.k-marquee-color,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-listview > .k-state-selected,
.k-state-selected.k-line {
  background-color: #00b0ff;
}
.k-state-selected.k-line {
  color: #00b0ff;
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-listview > .k-state-selected,
.k-state-selected .k-progress-status {
  color: #ffffff;
}
.k-grid tr:hover {
  background-color: #ebebeb;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  border-color: #008dcc;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #00a2eb;
}
.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-pager-info,
.k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
  color: #999999;
}
.k-gantt .k-task-draghandle {
  border-color: #00b0ff;
}
.k-grid-pager .k-link,
.k-grid-pager .k-link:link {
  color: #444444;
}
.k-pager-numbers .k-link,
.k-pager-wrap > .k-link {
  border-radius: 0;
}
.k-pager-numbers .k-state-selected {
  border-color: #3f51b5 transparent transparent;
  border-radius: 0;
  box-shadow: none;
  color: #3f51b5;
}
.k-pager-wrap .k-link {
  border-color: #fafafa;
  cursor: pointer;
}
.k-pager-wrap .k-link:hover {
  background-color: transparent;
  border-color: transparent;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link,
.k-gantt-toolbar li:first-child,
.k-gantt-toolbar li:first-child > .k-link,
.k-gantt-toolbar li:last-child,
.k-gantt-toolbar li:last-child > .k-link {
  border-radius: 0;
}
.k-grid,
.k-panelbar,
.k-notification,
.k-popup .k-textbox:focus,
.k-popup .k-autocomplete.k-state-focused,
.k-popup .k-picker-wrap.k-state-focused,
.k-popup .k-numeric-wrap.k-state-focused,
.k-popup .k-dropdown-wrap.k-state-focused,
.k-popup .k-multiselect.k-header.k-state-focused,
.k-popup .k-textbox:hover,
.k-popup .k-autocomplete.k-state-hover,
.k-popup .k-picker-wrap.k-state-hover,
.k-popup .k-numeric-wrap.k-state-hover,
.k-popup .k-dropdown-wrap.k-state-hover {
  box-shadow: none;
}
.k-panelbar,
.k-panelbar .k-header,
.k-panelbar .k-content,
.k-panel > li.k-item,
.k-panelbar .k-state-selected {
  background-color: #fafafa;
}
.k-panelbar .k-grid-toolbar {
  background-color: #00b050;
}
.k-panelbar > li > .k-state-hover {
  background-color: #ebebeb;
}
.k-panelbar > .k-item > .k-link,
.k-panelbar.k-header,
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  border-color: #e6e6e6;
}
.k-splitbar {
  border-color: #f5f5f5;
}
.k-splitbar.k-state-focused {
  background-color: #00b050;
  border-color: #00b050;
  box-shadow: none;
}
.k-upload {
  color: #444444;
  background-color: #ffffff;
}
.k-upload-files .k-button {
  box-shadow: none;
}
.k-task-milestone,
.k-task-summary-complete,
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  background-color: #00b050;
  border-color: #00b050;
}
.k-task-single {
  background-color: #66d0ff;
}
.k-task-complete {
  background: #00b0ff 0 -257px none repeat-x;
}
.k-treelist .k-state-selected,
.k-treelist .k-state-selected td,
.k-treelist .k-alt.k-state-selected,
.k-treelist .k-alt.k-state-selected > td {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-multiselect .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button,
.k-group-indicator .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-group-indicator .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-gantt-toolbar .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
}
.k-multiselect:not(.k-state-disabled) .k-button:active:hover {
  color: #444444;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.k-multiselect-wrap > ul > .k-button {
  box-shadow: none;
}
.k-filebrowser .k-header {
  color: #444444;
}
.k-treeview .k-state-selected,
.k-treeview .k-state-focused,
.k-panelbar > li > .k-state-focused {
  box-shadow: none;
}
.k-treeview .k-state-focused,
.k-panelbar > li > .k-state-focused {
  background-color: #ebebeb;
}
.k-progressbar {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.k-progressbar .k-item,
.k-progressbar .k-item.k-state-selected {
  border-color: #ffffff;
}
.k-progressbar .k-state-selected {
  background-color: #00b050;
  border-color: #00b050;
}
.k-widget.k-tooltip-validation {
  box-shadow: none;
}
.k-grid.k-alt {
  background-color: #fafafa;
}
.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
  background-color: #f2f2f2;
}
.k-list > .k-state-hover,
.k-list > .k-state-focused {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-slider-track {
  background-color: #e6e6e6;
  box-shadow: none;
}
.k-slider-selection {
  background-color: #00b050;
  border-color: #00b050;
}
.k-slider .k-button,
.k-slider .k-button.k-state-hover,
.k-slider .k-button:active:hover,
.k-slider .k-button:focus,
.k-slider .k-button:active {
  background: none;
  border: none;
  box-shadow: none;
}
.k-draghandle,
.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
  box-shadow: none;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle {
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: none;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover {
  border-color: #00b050;
  background-color: #00b050;
  box-shadow: 0 0 0 8px rgba(63, 81, 181, 0.3);
}
.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected {
  background-color: #cccccc;
  border-color: #cccccc;
}
.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-focused,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-focused {
  box-shadow: none;
  border-color: #00b050;
  background-color: #00b050;
}
.k-edit-buttons {
  background-color: #fafafa;
}
.k-popup .k-button,
.k-popup .k-button:active:hover {
  box-shadow: none;
}
.k-edit-form-container .k-button,
.k-popup .k-button,
.k-popup .k-primary:active,
.k-popup .k-primary:active:hover,
.k-edit-form-container .k-primary:active {
  color: #444444;
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: none;
}
.k-popup .k-primary,
.k-edit-form-container .k-primary {
  color: #00b0ff;
  background-color: #fafafa;
  border-color: #fafafa;
}
.k-split-wrapper .k-button,
.k-overflow-container .k-button,
.k-filter-menu .k-button {
  background: transparent;
  border-color: transparent;
}
.k-split-wrapper .k-button,
.k-overflow-container .k-button {
  text-transform: none;
}
.k-split-wrapper .k-button:hover,
.k-overflow-container .k-button:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.k-split-wrapper .k-button:focus,
.k-split-wrapper .k-button:focus:not(.k-state-disabled):not([disabled]) {
  color: #00b050;
  box-shadow: none;
}
.k-overflow-container .k-button.k-state-disabled,
.k-overflow-container .k-state-disabled > .k-button {
  color: #999999;
  border-color: transparent;
  background-color: transparent;
}
.k-overflow-container .k-button:focus {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.k-overflow-container .k-button.k-state-disabled:focus,
.k-overflow-container .k-state-disabled > .k-button:focus {
  color: #999999;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.k-overflow-container .k-separator {
  border-color: #e6e6e6;
}
.k-filter-menu .k-button {
  background: transparent;
  border-color: transparent;
}
.k-filter-menu .k-primary {
  border-left-color: #f0f0f0;
}
.k-filter-menu > div > div:last-child {
  border-color: #f0f0f0;
}
.k-popup .k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-edit-form-container .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
}
.k-edit-form-container .k-scheduler-delete {
  color: #00b0ff;
}
div.k-scheduler-marquee:before,
div.k-scheduler-marquee:after {
  border-color: #00b0ff;
}
.k-popup.k-context-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-drag-clue {
  color: #444444;
  background-color: #ebebeb;
  border-color: #ebebeb;
  box-shadow: inset 0 0 0 1px #808080;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  color: #444444;
}
.k-popup .k-item > .k-group {
  color: #444444;
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views {
    top: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    background-position: 50% 50%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 2px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 1px 1px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 1px 1px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: transparent;
    background-image: none;
    background-color: transparent;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #ffffff;
    min-width: 20px;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    background-color: #00b050;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views {
    top: 0;
  }
}
.k-chart .k-mask {
  background-color: #ffffff;
  filter: alpha(opacity=68);
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e5e5e5;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  background-color: #3f51b5;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #00b050;
  height: 4px;
}
.k-chart-tooltip {
  background-image: none;
}
.k-map .k-marker {
  font-size: 28px;
  color: #00b050;
}
.k-map .k-attribution {
  color: #666666;
}
.k-map .k-shadow {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}
.k-map .k-zoom-control {
  border-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.k-map .k-map-controls .k-button {
  box-shadow: none;
}
.k-map .k-map-controls .k-button:focus,
.k-map .k-map-controls .k-button:active,
.k-map .k-map-controls .k-button:focus:active {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  box-shadow: none;
}
.k-buttons-horizontal .k-zoom-out {
  border-radius: 0 2px 2px 0;
}
.k-buttons-horizontal :first-child {
  border-radius: 2px 0 0 2px;
}
.k-rtl .k-buttons-horizontal .k-zoom-out {
  border-radius: 2px 0 0 2px;
}
.k-rtl .k-buttons-horizontal :first-child {
  border-radius: 0 2px 2px 0;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ffffff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  border-color: #cccccc;
}
.k-spreadsheet-top-corner {
  border-color: #cccccc;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #cccccc #cccccc transparent;
}
.k-spreadsheet-pane {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #e6e6e6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #ffffff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 176, 255, 0.2);
  background-color: rgba(0, 176, 255, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #00b0ff;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #00b0ff;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #00b0ff;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #00b0ff;
  box-shadow: inset 0 0 0 1px #00b0ff;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #ffffff;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 176, 255, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #00b0ff;
  background-color: #ffffff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #00b0ff, inset -1px 0 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #00b0ff, inset 0 -1px 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #00b0ff, inset -1px -1px 0 1px #00b0ff;
}
.k-spreadsheet-active-cell.k-single {
  color: #444444;
  background-color: #ffffff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #ffffff;
  color: #444444;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #00b0ff;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #00b0ff;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #00b0ff;
  border-color: #ffffff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 176, 255, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #ffffff;
  background-color: rgba(100, 100, 100, 0.9);
  border-color: rgba(100, 100, 100, 0.9);
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #00b0ff #00b0ff transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #ff3448 transparent transparent #ff3448;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #e6e6e6;
}
.k-spreadsheet-filter {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #e6e6e6;
}
.k-spreadsheet-filter.k-state-active {
  color: #3f51b5;
  background-color: #00b0ff;
}
.k-spreadsheet-filter:hover {
  color: #444444;
  background: #ebebeb;
  border-color: #d7d7d7;
}
.k-action-window .k-action-buttons {
  border-color: #e6e6e6;
  background: #00b050;
}
.k-spreadsheet-sample {
  color: #919191;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #e6e6e6;
  border-radius: 2px;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 2px;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 2px;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #e6e6e6;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 2px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #e6e6e6;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #ebebeb;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #00b0ff;
  color: #ffffff;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #008dcc;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #e6e6e6;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #ffffff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #ffffff;
  border-color: #e6e6e6;
  border-radius: 2px 0 0 2px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.15);
}
.k-series-b {
  border-color: #03a9f4;
  background-color: rgba(3, 169, 244, 0.15);
}
.k-series-c {
  border-color: #4caf50;
  background-color: rgba(76, 175, 80, 0.15);
}
.k-series-d {
  border-color: #f9ce1d;
  background-color: rgba(249, 206, 29, 0.15);
}
.k-series-e {
  border-color: #ff9800;
  background-color: rgba(255, 152, 0, 0.15);
}
.k-series-f {
  border-color: #ff5722;
  background-color: rgba(255, 87, 34, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #00b0ff;
  color: #3f51b5;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #e6e6e6;
  border-radius: 2px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #00b0ff;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #00b0ff;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(0, 176, 255, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #00b0ff transparent transparent #00b0ff;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #ff3448 #ff3448 transparent transparent;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  box-shadow: none;
  color: #ffffff;
  border-radius: 0;
  line-height: 2.6em;
  height: calc(3.1em + 2px);
  width: 3em;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button:hover,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button:hover {
  background-color: #008d40;
  border-color: #008d40;
}
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  right: 0;
  bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 2.2em;
}
.k-spreadsheet .k-spreadsheet-sheets-remove {
  margin: 0 0 0 -1em;
}
.k-spreadsheet-sheets-items .k-state-default .k-link,
.k-spreadsheet-tabstrip .k-state-default .k-link {
  color: #80d8a8;
}
.k-spreadsheet-sheets-items .k-item.k-state-hover,
.k-spreadsheet-tabstrip .k-item.k-state-hover,
.k-spreadsheet-sheets-items .k-item.k-state-active,
.k-spreadsheet-tabstrip .k-item.k-state-active,
.k-spreadsheet-sheets-items .k-item.k-state-focused,
.k-spreadsheet-tabstrip .k-item.k-state-focused {
  background-color: transparent;
}
.k-spreadsheet-sheets-items .k-item.k-state-hover .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-hover .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-active .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-active .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-focused .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-focused .k-link {
  color: #ffffff;
}
.k-spreadsheet-sheets-items .k-state-active .k-link,
.k-spreadsheet-tabstrip .k-state-active .k-link {
  color: #ffffff;
}
.k-rtl .k-grid .k-checkbox:focus + .k-checkbox-label:after,
.k-rtl .k-grid .k-checkbox:active + .k-checkbox-label:after,
.k-rtl .k-grid .k-checkbox + .k-checkbox-label:active:after,
.k-rtl .k-grid .k-checkbox:checked:active + .k-checkbox-label:after,
.k-rtl .k-grid .k-checkbox:checked + .k-checkbox-label:active:after {
  left: auto;
  right: 1px;
}
.k-window .k-popup-edit-form .k-edit-field label.k-checkbox-label {
  margin-top: 0.8em;
}
.k-dialog .k-content {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.k-dialog.k-dialog-titleless .k-content {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.k-dialog .k-window-titlebar {
  border-width: 0;
  color: #444444;
}
.k-dialog > .k-header {
  background: none;
}
.k-dialog.k-alert .k-window-titlebar,
.k-dialog.k-confirm .k-window-titlebar,
.k-dialog.k-prompt .k-window-titlebar {
  border-bottom: none;
}
.k-dialog.k-alert .k-window-titlebar .k-dialog-title,
.k-dialog.k-confirm .k-window-titlebar .k-dialog-title,
.k-dialog.k-prompt .k-window-titlebar .k-dialog-title {
  color: #444444;
}
.k-dialog a.k-dialog-action.k-dialog-close.k-button.k-bare:before {
  content: normal;
}
.k-dialog .k-dialog-buttongroup .k-button {
  box-shadow: none;
}
.k-dialog .k-dialog-buttongroup .k-button:active,
.k-dialog .k-dialog-buttongroup .k-button:focus,
.k-dialog .k-dialog-buttongroup .k-button:focus:active {
  box-shadow: none;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 15px 15px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #e6e6e6;
  background: #fafafa;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  background: none;
  border: none;
  margin: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button.k-primary {
  color: #00b0ff;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  flex: 0 0 auto;
  padding: 7.5px 7.5px;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 10.5px 10.5px;
}
.k-rtl .k-grid-header .k-header:first-child,
.k-rtl .k-filter-row th:first-child,
.k-rtl .k-grid tbody td:first-child,
.k-rtl .k-grid tfoot td:first-child {
  border-left-width: 0;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 2px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 2px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #ff3448;
  position: absolute;
  top: 0;
  right: 2.2em;
  width: 2.2em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #ff3448;
}
.k-numeric-wrap.k-state-invalid input {
  color: #ff3448;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #ff3448;
  color: #ff3448;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #ff3448;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #ff3448;
  border-color: #ff3448;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.7em;
  color: #ff3448;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.7em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff3448;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff3448;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #ff3448;
  margin-left: 0;
  margin-right: 2.8em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.8em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff3448;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff3448;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #ff3448;
  margin-left: 0;
  margin-right: 5.6em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.6em;
}
.k-listbox .k-list-scroller {
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.k-listbox .k-item:hover:not(.k-state-disabled),
.k-listbox .k-item.k-state-selected {
  background-color: #ebebeb;
  border-color: transparent;
}
.k-listbox .k-button.k-state-disabled:hover .k-icon {
  opacity: 0.7;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #00b050;
}
.k-item.k-state-selected.k-drag-clue {
  border-color: transparent;
  background-color: #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #3f51b5;
  opacity: 1;
  margin-bottom: -1px;
}
.k-menu-scroll-button {
  border-width: 0;
  box-shadow: none;
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
.k-toolbar {
  color: #444444;
  border-color: #e6e6e6;
  background-color: #f5f5f5;
}
.k-toolbar .k-button {
  border-radius: 0;
}
.k-toolbar .k-button-group,
.k-toolbar .k-button {
  box-shadow: none;
}
.k-toolbar .k-overflow-anchor {
  border-color: #e6e6e6;
  border-left-color: transparent;
}
.k-toolbar .k-overflow-anchor:hover {
  border-color: #e6e6e6;
}
.k-toolbar .k-overflow-anchor:active,
.k-toolbar .k-overflow-anchor.k-state-border-down {
  color: #000000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.k-toolbar .k-split-button:focus {
  box-shadow: none;
  background: #ebebeb;
}
.k-toolbar .k-split-button:focus .k-split-button-arrow {
  border-left-color: #dbdbdb;
}
.k-mediaplayer-toolbar {
  background: rgba(250, 250, 250, 0.85);
}
.k-editor .k-tool {
  color: inherit;
}
.k-tool {
  border-color: transparent;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
.k-editor-toolbar {
  color: #444444;
}
table.k-editor {
  border-color: #e6e6e6;
}
.k-editor.k-header,
.editorToolbarWindow.k-header,
.k-filebrowser .k-header {
  color: #444444;
  background-color: #f2f2f2;
  box-shadow: none;
}
.k-editor-toolbar .k-tool,
.k-group-start.k-group-end.k-tool {
  border-color: #f2f2f2;
}
.k-editor-toolbar .k-dropdown {
  box-shadow: none;
}
.k-editor-toolbar .k-dropdown-wrap.k-state-default,
.k-toolbar .k-dropdown-wrap.k-state-default {
  border-color: #f2f2f2;
}
.k-editor-toolbar .k-tool.k-state-hover,
.k-toolbar .k-tool.k-state-hover,
.k-editor-toolbar .k-dropdown-wrap.k-state-hover,
.k-toolbar .k-dropdown-wrap.k-state-hover,
.k-editor-toolbar .k-tool.k-state-selected,
.k-toolbar .k-tool.k-state-selected,
.k-editor-toolbar .k-button-group .k-button.k-state-active,
.k-toolbar .k-button-group .k-button.k-state-active {
  box-shadow: none;
}
.k-editor .k-tool:hover,
.k-editor .k-tool.k-state-hover {
  color: #444444;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.k-editor .k-tool:active,
.k-editor .k-tool.k-state-selected {
  color: #000000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.k-dropdowngrid-popup {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ffffff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #e6e6e6;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #f2f2f2;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #e6e6e6;
  color: #999999;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #e6e6e6;
  color: #444444;
  background-color: #ebebeb;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #00b0ff;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #444444;
  color: #ffffff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #444444;
}
.k-calendar .k-header,
.k-calendar .k-footer {
  text-transform: uppercase;
}
